<a href="https://colab.research.google.com/github/aiml460/460-AD/blob/main/Day6(2)assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

data = {
    "Name": ["John", "Alice", "Bob", "Diana"],
    "Age": [28, 34, 23, 29],
    "Department": ["HR", "IT", "Marketing", "Finance"],
    "Salary": [45000, 60000, 35000, 50000]
}

In [7]:
df = pd.DataFrame(data)

In [8]:
print("First 2 rows of the DataFrame:")
print(df.head(2))

First 2 rows of the DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

In [10]:
df['Bonus'] = df['Salary'] * 0.10

In [11]:
print("\nDataFrame after adding the 'Bonus' column:")
print(df)

DataFrame after adding the 'Bonus' column:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
2    Bob   23  Marketing   35000  3500.0
3  Diana   29    Finance   50000  5000.0

In [12]:
average_salary = df['Salary'].mean()
print(f"\nAverage salary of employees: {average_salary}")

Average salary of employees: 47500.0

In [13]:
print("\nEmployees who are older than 25:")
print(df[df['Age'] > 25])

Employees who are older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0